.nas {
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    font-size: 25px;
    font-family: 'Courier', 'monospace';
    padding-top: 15px;
    padding-left: 6%;
    padding-right: 8%;
  }
  
.nas ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transform: all .5s ease;
  }
  
.nas li:hover{
    color: black;
    transition: .4s;
  }